/* google search fonts:google.com*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
    color: #4a2aa1;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width:100% ;
    height: auto;
    display: block;
}
.l-header{
    width: 100%;
    height: auto;
    min-height:300px;
    padding: 0;
}  
.bg {
    width:100%;
    height: 650px;
    position: relative;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 1px 4px #4a2aa1;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
@media screen and (max-width: 768px){
    .nav___menu{
        position: fixed;
        top: 3rem;
        right: 100%;
        width: 50%;
        height: 100%;
        padding: 2rem;
        background-color: #4a2aa1;
        transition: 0.5s;
    }

}
.nav___item{
    margin-bottom: 3rem;
}
.nav__link{
    position: relative;
    color:#fff ;
    text-transform: capitalize;
}
.nav__link:hover {
    color: #1f0075;
}
.nav___loge{
    color: #1f0075;
    font-family: 'Dancing Script','cursive';
    font-size: 1.3rem;
    font-weight: 700;
}
.nav___toggle {
    color: #1f0075;
    font-size: 1.5rem;
    cursor: pointer;
}
.show {
    right: 0;
}
.section {
    padding-top: 5rem;
}

@media screen and (min-width:768px){
    .nav {
        height: 4rem;
    }
    .nav___list {
        display: flex;
        padding-top: 0;
    }
    .nav___logo {
        font-size: 2.3rem;
    }
    .nav___link {
        color: #524e4e;
    }
    .nav___item {
        margin-left: 2rem;
        margin-bottom: 0;
    }
}
/* about */
.about-section{
    padding: 0 7rem 3rem;
}
.about-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
.about-txt{
    width: 100%;
    padding-top: 2rem;
}
.about-txt p{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;

}
.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-skill .skill-title{
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.about-skill{
    flex: 1 1 20rem;
    padding-top: 3rem;
    margin-right: 2rem;
}
.skills{
    margin-top: 0.5rem;
}
.skills i {
    font-size: 1.2rem;
    text-transform: capitalize;
}
.skills span{
    display: inline-block;
    border: 1px solid #1f0075;
    height: 1rem;
    width: 100%;
    border-radius: 15px;
    margin-top: 0.1rem; 
}
.skills span abbr{
    display: inline-block;
    background: #1f0075;
    width: 85%;
    height: 1rem;
    border-radius: 15px;
}
.skills.cleanliness span abbr {
    width: 120;
}
.image-about{
    flex: 1 1 20rem;
    padding-top: 3rem;
}
.image-about img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* services */
.services{
    background-color: #f0eaea;
    background-size: cover;
    background-position: center center;
}
.services-section{
    padding: 0 7rem 3rem;
}
.services-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
.services-content{
    display: flex;
    padding-top: 3rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.services-content .service-image{
    flex: 1 1 30rem;
}
.services-content .service-image img{
    width: 100%;
}
.services-content .service-text{
    display: flex;
    flex: 1 1 40rem;
}
.services-content .service-text p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.8;
}
/* services */
.services{
    background-color: #f0eaea;
    background-size: cover;
    background-position: center center;
}
.services-section{
    padding: 0 7rem 3rem;
}
.services-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
.services-content{
    display: flex;
    padding-top: 3rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.services-content .service-image{
    flex: 1 1 30rem;
}
.services-content .service-image img{
    width: 100%;
}
.services-content .service-text{
    display: flex;
    flex: 1 1 40rem;
}
.services-content .service-text p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.8;
}
.services-icons {
    display: flex;
    padding-top: 3rem;
}
.services-icons .icons{
    text-align: center;
}
.services-icons .icons .icon i{
    color: #fff;
    background: #1f0075;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.services-icons .icons i{
    font-size: 3rem;
    padding-top: 0.7rem;
}
.services-icons icons h4{
    text-transform: capitalize;
}
.services-icons .icons p{
    font-size: 1.1rem;
    padding: 0.8rem 0 0 1.3rem;
    line-height: 1.5rem;
}
@media screen and (max-width:768px){
    .services-section{
        padding: 0 3rem 2rem;
    }
    .services-content {
        flex-wrap: wrap;
    }
    .services-content .service-text p{
        padding-top:2rem;
        text-align: left;
        font-size: 1rem;
        line-height: 1.2;
    }
    .services-icons{
        flex-wrap: wrap;
    }
    .services-icons .icons{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .services-icons .icons p{
        font-size: 1rem;
    }
}

/* port */
.portfolio-section{
    padding: 0 7rem 3rem;
}
.portfolio-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
.portfolio-images{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    gap: 2rem;
    padding: 0 8rem;
}
.portfolio-images .portfolio-image{
    height: 20rem;
    position: relative;
    overflow: hidden;
}
.portfolio-images .portfolio-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:ease-in-out 0.3s;
}
.portfolio-images .portfolio-image img:hover{
    transform: scale(1.5);
}
@media screen and (max-width:768px){
    .portfolio-images{
        padding: 0 1rem;
    }
}.contact-section{
    padding: 0 7rem 3rem;
}
.contact{
    background: #fff;
    background-size: cover;
    background-position: center center;
}
.contact-section{
    padding: 0 7rem 3rem;
}
.contact-section h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}
.contact-content{
    display: flex;
    gap: 2rem;
    padding: 0 7rem 7rem;
    justify-content: center;
    align-items: center;
}
.icons-cont{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.contact-content .contact-icons{
    flex: 1 1 50rem;
}
.contact-content .contact-map{
    flex: 1 1 40rem;
}
.contact-content .contact-icons .icons-cont{
    display: flex;
    column-gap: 5rem;
    padding-bottom: 1rem;
    margin-left: 3rem;
}
.contact-icons .icons-cont .icons{
    text-align: center;
}
.contact-icons .icons-cont .icons {
    font-size: 1.5rem;
}
.contact-icons .icons-cont .icons h3{
    text-transform: capitalize;

}
.contact-icons form .input-cont input, 
.contact-icons form .input-cont textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    border: 1px solid #1f0075;
    border-radius: 10px;
    color: #fff;
}
.contact-content .contact-map .map{
    display: flex;
    height: 400px;
    width: 100%;
}
.btn{
    width: 150px;
    height: 45px;
    background: #1f0075;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
}
@media screen and (max-width:768px){
    .contact-content{
        flex-wrap: wrap;
        padding: 0 1rem;
    }
}
/* footer */
.footer{
    padding: 5rem 7rem;
}
.footer .social-icons{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.footer .social-icons a i{
    margin-left: 3rem;
}
.footer .design-by{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.footer .design-by span{
    color: #524e4e;
}
    
